* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    font-size: 20px; /* Increased base font size to make text larger */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 40px; /* Increased padding */
    background-color: #5D9CEC;
    color: white;
    font-size: 2.5rem; /* Increased font size for the header */
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #A9DFBF;
    padding: 20px; /* Increased padding */
}

nav ul li {
    margin: 0 30px; /* Increased margin */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.5rem; /* Increased font size */
}

main {
    padding: 40px; /* Increased padding */
    background-color: #fff;
    margin-top: 40px; /* Increased margin */
    font-size: 2rem; /* Increased base font size for main content */
}

h1 {
    font-size: 3.5rem; /* Increased font size */
}

h2 {
    font-size: 3rem; /* Increased font size */
}

h3 {
    font-size: 2.5rem; /* Increased font size */
}

footer {
    text-align: center;
    padding: 20px; /* Increased padding */
    background-color: #F7D358;
    margin-top: 40px; /* Increased margin */
    font-size: 1.5rem; /* Increased font size */
}
