* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f4f8;
    color: #333;
    font-size: 18px; /* Increased base font size */
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 30px; /* Increased padding */
    background-color: #5D9CEC;
    color: white;
    font-size: 2rem; /* Increased font size */
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #A9DFBF;
    padding: 15px; /* Increased padding */
}

nav ul li {
    margin: 0 20px; /* Increased margin */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 1.2rem; /* Increased font size */
}

main {
    padding: 30px; /* Increased padding */
    background-color: #fff;
    margin-top: 30px; /* Increased margin */
    font-size: 1.1rem; /* Increased base font size for main content */
}

h1 {
    font-size: 3rem; /* Increased font size */
}

h2 {
    font-size: 2.5rem; /* Increased font size */
}

h3 {
    font-size: 2rem; /* Increased font size */
}

/* Resize images to half their original size */
img {
    width: 50%;
    height: auto; /* Maintain aspect ratio */
}

footer {
    text-align: center;
    padding: 15px; /* Increased padding */
    background-color: #F7D358;
    margin-top: 30px; /* Increased margin */
    font-size: 1.2rem; /* Increased font size */
}
